
<%= form_with(model: [:admin, @route], local: true) do |form| %>

  <% render 'common/errors', resource: @route %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :route_title %>
  </div>

  <div>
    <%= form.label :railway_station_ids %>
    <%= form.collection_select :railway_station_ids, RailwayStation.all, :id, :title, {}, { multiple: true} %>
  </div>

  <div class="actions">
    <%= form.submit t('.submit', action: @route.new_record? ? 'Создать' : 'Изменить') %>
  </div>
<% end %>
