<p id="notice"><%= notice %></p>

<p>
  <strong>  <%= @route.title %> </strong>
</p>

<p>
  <%if @route.railway_stations.empty?%>
    Станций нет
    <% else %>
    <table>
        <td> Название </td>
        <td> Позиция </td>
        <td > Время отправления</td>
        <td > Время прибытия</td>
        <% @route.railway_stations.ordered.each do |station| %>
          <tr>
            <td width = "150 px"><%= station.title%></td>
            <td>
              <%= form_tag update_position_admin_railway_station_path(station), method: :patch do %>
                <%= number_field_tag :position, station.position_in(@route) %>
                <%= hidden_field_tag :route_id, @route.id %>
                <%= submit_tag "Изменить" %>
              <% end %>
            </td>
            <td>
              <%= form_tag update_arrival_admin_railway_station_path(station), method: :patch do %>
                <%= time_field_tag :arrival, station.time_in(@route, :arrival) %>
                <%= hidden_field_tag :route_id, @route.id %>
                <%= submit_tag "Изменить" %>
              <% end %>
            </td>
            <td>
              <%= form_tag update_departure_admin_railway_station_path(station), method: :patch do %>
                <%= time_field_tag :departure, station.time_in(@route, :departure) %>
                <%= hidden_field_tag :route_id, @route.id %>
                <%= submit_tag "Изменить" %>
              <% end %>
            </td>
          </tr>
    <table>
      <% end %>
    <%end%>
</p>

<p>
  <%if @route.trains.empty?%>
    Поездов нет
    <% else %>
      <% @route.trains.each do |train| %>
      <ul>
 <strong >Поезда на маршруте: </strong>
        <li><%= train.name%></li>
      </ul>
      <% end %>
    <%end%>
</p>


<%= link_to 'Редактировать', edit_admin_route_path(@route) %> |
<%= link_to 'Назад', admin_routes_path %> |
