<p id="notice"><%= notice %></p>

<p>
  <strong>Название</strong>
  <%= @train.name %>
</p>
<p>
  <strong>На станции</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title%>
  <% else %>
    Не указано
  <% end %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
