<p><b> Пользователь: </b> <%= @ticket.user.email%></p>

<table class="table table-striped">
    <thead>
      <tr>
        <th>ФИО</th>
        <th>Поезд №</th>
        <th>Начальная станция</th>
        <th>Конечная станция</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @ticket.surname %> <%= @ticket.name %> <%= @ticket.patronymic %></td>
        <td><%= @ticket.train.name%></td>
        <td><%= @ticket.start_station.title%></td>
        <td><%= @ticket.end_station.title %></td>
      </tr>
    </tbody>
  </table>
<div class="btn-group">
  <%= link_to t('common.back'), tickets_path, class: "btn btn-xs btn-primary"%>
</div>
