<h3> Список поездов на маршруте: </h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Поезд №</th>
      <th>Начальная станция</th>
      <th>Время отправления</th>
      <th>Конечная станция</th>
      <th>Время прибытия</th>
    </tr>
  </thead>
  <tbody>
    <% @result_trains.each do |train|  %>
    <tr>
      <td><%= train.name %></td>
      <td><%= @start_station.title %></td>
      <td><%= @start_station.time_in(train.route, :departure)%></td>
      <td><%= @end_station.title %></td>
      <td><%= @end_station.time_in(train.route, :arrival)%></td>
      <td>
        <%= form_tag  new_ticket_path, method: :get do %>
          <%= hidden_field_tag :train_title, train.name %>
          <%= hidden_field_tag :train_id, train.id %>
          <%= hidden_field_tag :start_station_id, @start_station.id %>
          <%= hidden_field_tag :end_station_id, @end_station.id %>
          <div class="btn-group">
            <%= submit_tag "Купить билет", class: "btn btn-default" %>
          </div>
          <% end %>
      </td>
      <% end %>
    </tr>
  </tbody>
<table class="table table-striped">
<div class="btn-group">
  <%= link_to t('common.search'), new_search_path, class: "btn btn-xs btn-primary" %>
  <%= link_to t('common.root'), root_path, class: "btn btn-xs btn-primary" %>
</div>
