
<%= form_with(model: @wagon.becomes(Wagon), local: true) do |form| %>
<%= render 'common/errors', resource: @wagon %>
  <div>
    <%= form.label :type, "Тип вагона"%>
    <%= form.select :type, Wagon::TYPES.invert.map{ |k,v| [k.to_s, v] } %>
  </div>

    <%= form.label :place_up, "Кол-во верхних мест"%>
    <%= form.number_field :place_up, min:0, max: 4%>

    <%= form.label :place_down, "Кол-во нижних мест"%>
    <%= form.number_field :place_down, min:0, max: 4 %>

    <%= form.label :place_seat, "Кол-во сидячих мест"%>
    <%= form.number_field :place_seat, min:0, max: 4 %>

    <%= form.label :side_top_place_down, "Кол-во нижних боковых мест"%>
    <%= form.number_field :side_top_place_down, min:0, max: 2 %>

    <%= form.label :side_bot_place_up, "Кол-во верхних боковых мест"%>
    <%= form.number_field :side_bot_place_up, min:0, max: 2 %>

  <div>
    <%= form.label :train, "Выберите поезд к которому прицепить вагон"%>
    <%= form.collection_select :train_id, Train.all, :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit "#{ @wagon.becomes(Wagon).new_record? ? 'Создать' : 'Изменить'}" %>
  </div>
<% end %>
