<p id="notice"><%= notice %></p>

<p>
  <strong>Тип вагона</strong>
  <%= @wagon.type_class %>
  <strong>Количество нижних мест</strong>
  <%= @wagon.place_down %>
  <strong>Количество верхних мест</strong>
  <%= @wagon.place_up %>
</p>

<%= link_to 'Редактировать', edit_wagon_path(@wagon) %> |
<%= link_to 'Назад', wagons_path %>
