<p id="notice"><%= notice %></p>

<p>
  <strong>Название</strong>
  <%= @route.title %>
</p>

<p>
  <%if @route.railway_stations.empty?%>
    Список пуст
    <% else %>
      <%= @route.railway_stations.each do |station| %>
      <ul>
        <li><%= station.title%></li>
      </ul>
      <% end %>
    <%end%>  
</p>


<%= link_to 'Редактировать', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %>
