<p id="notice"><%= notice %></p>

<p>
  <strong>  <%= @route.title %> </strong>
</p>

<p>
  <%if @route.railway_stations.empty?%>
    Станций нет
    <% else %>
      <% @route.railway_stations.each do |station| %>
      <ul>
        <li><%= station.title%></li>
      </ul>
      <% end %>
    <%end%>
</p>

<p>
  <%if @route.trains.empty?%>
    Поездов нет
    <% else %>
      <% @route.trains.each do |train| %>
      <ul>
 <strong >Поезда на маршруте: </strong>
        <li><%= train.name%></li>
      </ul>
      <% end %>
    <%end%>
</p>


<%= link_to 'Редактировать', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %> |
