<% hidden = false unless local_assigns[:hidden] %>
<%= form_for [:admin, train], html: { style: "display: #{hidden ? 'none' : 'block'}" }  do |form| %>
  <%= render 'common/errors', resource: train %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :train_name %>
  </div>

  <div>
    <%= form.label :currentstation %>
    <%= form.collection_select :current_station_id, RailwayStation.all, :id, :title %>
  </div>

  <div>
    <%= form.label :route %>
    <%= form.collection_select :route_id, Route.all, :id, :title %>
  </div>

  <div class="actions">
    <%= form.submit t('.submit', action: train.new_record? ? 'Создать' : 'Изменить') %>
  </div>
<% end %>
