<%= form_with(model: [:admin, @train], local: true) do |form| %>
<p>
  <strong>Название</strong>
  <%= @train.name %>
</p>
<p>
  <strong>На станции</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title%>
  <% else %>
    Не указано
  <% end %>
</p>

<p>
  <strong>На маршруте</strong>
  <% if @train.route.present? %>
    <%= @train.route.title%>
  <% else %>
    Маршрут не назначен
  <% end %>
</p>

<p>
  <strong>Вагонов у поезда:</strong>
  <% if @train.wagons.present? %>
     <%= @train.wagons.count %>
     <%= form.check_box :sort %>
     <%= form.submit "Сортировка"%>
     <% if !@train.sort%> </br>
          <% @train.wagons.head.each do |wagon|%>
          <%= link_to wagon.number, admin_wagon_path(wagon) %>
          <% end %>
        <% else %> </br>
          <% @train.wagons.tail.each do |wagon|%>
          <%= link_to wagon.number, admin_wagon_path(wagon) %>
          <% end %>
      <% end %>
    <% end %>
</p>

<%= link_to t('common.add'), new_admin_train_wagon_path(@train) %>
<%= link_to t('common.edit'), edit_admin_train_path(@train) %> |
<%= link_to t('common.back'), admin_trains_path %>
<% end %>
