<p>
<strong> Номер <%= @wagon.number %></strong>
  Нижних сидений: <%= @wagon.place_down %>
  Верхних сидений: <%= @wagon.place_up %>
  Нижних боковых сидений: <%= @wagon.side_top_place_down %>
  Верхних боковых сидений: <%= @wagon.side_bot_place_up %>
</p>
