<%= form_for  [:admin, @train, @wagon.becomes(Wagon)] do |form| %>
<%= render 'common/errors', resource: @wagon %>
  <div>
    <%= form.label :type, "Тип вагона"%>
    <%= form.select :type, Wagon::TYPES.invert.map{ |k,v| [k.to_s, v] } %>
  </div>

  <div class="coupewagon train" style="display: none">
    <%= form.label :place_up, "Кол-во верхних мест" %>
    <%= form.number_field :place_up, min:0, max: 4 %>
  </div>

  <div class="coupewagon train" style="display: none">
    <%= form.label :place_down, "Кол-во нижних мест" %>
    <%= form.number_field :place_down, min:0, max: 4  %>
  </div>

  <div class="economywagon train" style="display: none">
    <%= form.label :place_up, "Кол-во верхних мест" %>
    <%= form.number_field :place_up, min:0, max: 4 %>
  </div>

  <div class="economywagon train" style="display: none">
    <%= form.label :place_down, "Кол-во нижних мест" %>
    <%= form.number_field :place_down, min:0, max: 4  %>
  </div>

  <div class="economywagon train" style="display: none">
    <%= form.label :side_bot_place_up, "Кол-во верхних боковых мест"%>
    <%= form.number_field :side_bot_place_up, min:0, max: 2 %>
  </div>

  <div id="economywagon train" style="display: none">
    <%= form.label :place_down, "Кол-во нижних мест" %>
    <%= form.number_field :place_down, min:0, max: 4  %>
  </div>

  <div class="economywagon train" style="display: none">
    <%= form.label :side_top_place_down, "Кол-во нижних боковых мест" %>
    <%= form.number_field :side_top_place_down, min:0, max: 2 %>
  </div>

  <div class="premiumwagon" style="display: none">
    <%= form.label :place_down, "Кол-во нижних мест" %>
    <%= form.number_field :place_down, min:0, max: 4  %>
  </div>

  <div class="svwagon train" style="display: none">
    <%= form.label :place_down, "Кол-во нижних мест" %>
    <%= form.number_field :place_down, min:0, max: 2  %>
  </div>

 <div class="seatwagon train" style="display: none">
    <%= form.label :place_seat, "Кол-во сидячих мест" %>
    <%= form.number_field :place_seat, min:0, max: 4  %>
 </div>


  <div class="actions">
    <%= form.submit "#{ @wagon.becomes(Wagon).new_record? ? 'Создать' : 'Изменить'}" %>
  </div>
<% end %>
